* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #121212;
    color: white;
    user-select: none;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #212529;
    color: #ffcf00;
    font-weight: bold;
    cursor: pointer;
    width: 60px;
    padding: 15px;
    border-radius: 50%;
  }
  
  #myBtn:hover {
    background-color: #555;
    font-size: 23px;
    font-weight: bold;
  }
.navbar-1 {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    background: #121212c1;
    align-items: center;
    position: fixed;
    z-index: 10;
    top: 0;
    color: white;
    overflow: hidden;
    padding: 30px;

}

.navbar-1 nav ul {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    list-style: none;
    align-items: center;

}

.brandname {
    padding: 5px 20px;

}


.brandname h1 {
    -webkit-text-stroke: 1px #ffcf00;
    color: transparent;
    letter-spacing: 2px;
    word-spacing: 4px;
    font-size: 3em;
    cursor: pointer;
    font-weight: bold;
    color: #333;
    text-shadow: 0 0 0px #fff, 0 0 0px #ffcf00, 0 0 0px #ffcf00, 0 0 0px #ffcf00, 0 0 0px #ffcf00, 0 0 10px #ffcf00, 0 0 #ffc14d;
}

.sapmle {
    border: 2px solid red;

}

.qute {
    position: fixed;
    overflow: hidden;
    color: black;
    left: 20vw;
    top: 20vh;
    width: 50vw;
    height: 50vh;
    border-radius: 10px;
    display: none;
    /* display: ; */
}

.qute form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;

}
.qute h5{
    color: rgb(24, 149, 24);
    text-align: center;

}

.qute img {
    text-align: right;
    position: absolute;
    right: 10px;
    top: 5px;
    border-radius: 50%;
   
}

.lgdevicenav ul li a {
    font-size: 25px;
    text-decoration: none;
    color: #ffcf00;
    font-weight: bold;
    padding: 5px;
    transition: all 1s;
    border-radius: 7px;
}

.lgdevicenav ul li a:hover {
    border: 1px solid white;
    border-radius: 7px;
}

.navformdDevice a,
ul {
    text-decoration: none;
    color: #ffcf00;
    font-weight: bold;
    line-height: 50px;
    list-style: none;
    padding: 20px;
    margin-top: 10px;
}

.navformdDevice {
    border-radius: 20px 0 0 20px;
    z-index: 10;
    right: 0;
    display: none;
    position: fixed;
    padding: 20px;
    width: 50vw;
    background: #121212;
    text-align: center;
}

.crousleSilde {
    max-height: 100vh !important;
    overflow: hidden;

}

.hamburger {
    display: none;
    cursor: pointer;
}

.carousel-item {
    object-fit: contain;
}

.aboutnameheading {
    display: flex;
    text-align: center;
    height: 20vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.aboutcontainer {
    width: 90vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}

.aboutcontainer h4 {
    color: aqua;
}
.curPointer{
    cursor: pointer;
}

.aboutcontainer h1 {
    position: relative;
    word-spacing: 10px;
}

.aboutnameheading h1::after {
    content: '';
    background: linear-gradient(45deg, red, orange);
    height: 4px;
    width: 112px;
    position: absolute;
    left: 121px;
    border-radius: 40px;
    bottom: -10px;

}

.specialfood {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    padding: 30px 53px;
    
}
.specialfood .container{
    border-radius: 10px;
}
.fooddishes {
    padding: 20px 13px;
    color: black;
}

.cardcontainer {
    padding: 0 10px;
    background: white;
}

.dishheading {
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: center;
    border-radius: 10px;
}

.dishheading .line {
    width: 200px;
    position: relative;
    text-align: center;
    color: white;
}

.objectfit {
    object-fit: contain;

}

.line h3::after {
    content: '';
    background: linear-gradient(45deg, red, orange);
    height: 4px;
    width: 100px;
    position: absolute;
    left: 45px;
    border-radius: 40px;
    bottom: -10px;

}

.R-chivda h1 {
    text-align: center;
    line-height: 50px;
}

.R-chivda h1::first-letter {
    color: orange;
    font-weight: bold;
}

.cards {
    display: flex;
    gap: 10px;
    object-fit: cover;
    justify-content: center;
    padding: 10px;
    position: relative;
}

.card {

    overflow: hidden;
    border-radius: 10px;
}

.card img {
    transition: all 1s;

}

.card:hover img {
    transform: scale(1.1);
}

.ribbon {
    width: 40px;
    font-size: 14px;
    padding: 4px;
    position: absolute;
    right: -0px;
    top: 2px;
    z-index: 5;
    text-align: center;
    border-radius: 50%;
    transform: rotate(20deg);
    background-color: #d51e0d;
    color: white;
}

.card-body {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    background: rgba(128, 128, 128, 0.795);
}

.footer {
    padding: 0 28px;
    margin-bottom: 30px;
}

.footerpart {
    margin-top: 74px;
    padding: 40px 0;
    display: flex;
    border-radius: 10px;
}

.cardQ {
    position: relative;
    margin-bottom: 25px;
}

.cardQ a {
    color: white;
    text-decoration: none;
}

.cardQ a::after {
    content: '';
    background: linear-gradient(45deg, red, orange);
    position: absolute;
    height: 4px;
    width: 50px;
    top: 40px;
    left: 18px;
    border-radius: 50px;
}

.address {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    line-height: 6px;
    word-break: break-all;
    justify-content: center;
}

.frenchise {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
}

.frenchise div span:nth-child(1) {
    color: gray;
    font-weight: bold;
}

.invert {
    filter: invert(1);
}

@media (max-width: 1250px) {
    .navbar-1 nav ul li a {
        font-size: 11px;
    }

    .aboutnameheading {
        margin-top: 0;
    }
}

@media (max-width: 900px) {
    .brandname h1 {
        font-size: 5vw;
    }

    .navformdDevice {
        position: fixed;
        padding: 20px;
        width: 70vw;
        background: #121212;
        z-index: 10;
    }

    .navformdDevice a,
    ul {
        font-size: 15px;
        text-decoration: none;
        color: #ffcf00;
        font-weight: bold;
        line-height: 50px;
        list-style: none;
    }

    .navformdDevice li {
        margin-top: 10px;
        border-radius: 10px;
        padding: 10px;
        text-align: center;
        transition: all .5s ;
    }

    .navformdDevice li:hover {
        transform: scale(1.1);
        background: rgb(21, 20, 20);
    }

    .qute {
        position: fixed;
        height: 40vh;
        width: 80vw;
        left: 10vw;
        top: 20vh;
    }

    .lgdevicenav {
        display: none;
    }

    .hamburger {
        position: fixed;
        right: 28px;
        top: 14px;
        display: block;
        z-index: 10;
        filter: invert(1);
        color: white;
    }

    .aboutnameheading h1::after {
        left: 75px;
    }
    .card{
        width: 100vw !important;
    }
}
